<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="todo-list-example">
        <ul v-if="todos.length">
            <li v-for="(todo, index) in todos" :key="index">
                {{ todo }}
            </li>
        </ul>
        <p v-else>No todos left</p>
    </div>
    
<script type="text/javascript">
    var vm = new Vue({
        el : "#v-for-object",
        data : {
            todos : [],
        },
    })
</script>
</body>
</html>