<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="app">
        <input type="text" name="" id="" v-model="message" placeholder="edit me">
        <p>message is {{ message }}</p>
        <textarea name="" id="" cols="30" rows="10" v-model="message2" placeholder="add multiple lines"></textarea>
        <p>{{ message2 }}</p>
        <br>
        <div>
            <input type="checkbox" name="" id="jack" value="jack" v-model="checkedNames">
            <label for="jack">jack</label>
            <input type="checkbox" name="" id="john" value="john" v-model="checkedNames">
            <label for="john">john</label>
            <input type="checkbox" name="" id="jack" value="jack" v-model="checkedNames">
            <label for="jack">jack</label>
        </div>
    </div>

<script type="text/javascript">
    //<input v-on:keyup.enter="submit"> 只有在key是Enter时调用vm.submit()
    var vm = new Vue({
        el : "#app",
        data : {
            message : "",
            message2 : ""
        }
    })

</script>
</body>
</html>