<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
    <ul id="app" class="demo">
        <!-- 用v-for通过一个对象的属性来迭代
        <li v-for="value in object">
            {{value}}
        </li> -->

        <!-- 提供第二个的参数为键名 -->
        <!-- <li v-for="(value , key) in object">
                {{key}} ：{{value}}
        </li> -->

        <!-- 第三个参数为索引 -->
        <li v-for="(value , key, index) in object">
                {{index}} . {{key}} ：{{value}}
        </li>
    </ul>
</body>
<script type ="text/javascript">
var vm = new Vue({
    el:"#app",
    data:{
        object : {
            firstName : 'john',
            LastName : 'Doe',
            age: 30
        }
    },   
})
</script>
</html>