<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="app">
        <input type="radio" name="" id="" value="a" v-model="picked">
        <input type="checkbox" v-model="toggle">
        <select name="" id="" v-model="selected">
            <option value="abc">ABC</option>
        </select>
    </div>

<script type="text/javascript">
    //单选按钮，复选框及选择框的选项，v-model 绑定的值通常是静态字符串
    var vm = new Vue({
        el : "#app",
        data : {
            picked : "",
            toggle : null,
            selected : "",
        }
    })
    console.log(vm.picked, vm.toggle, vm.selected)
</script>
</body>
</html>